.footer{
    padding: 20px;
    text-align: center;
    color: #031926;
    font-size: large;
    .title{
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}