.tables {
    padding: 20px;
}
.filter{
    padding: 20px;
}
// .botonfilter{
//     padding: 20px;
//     padding-left: 0%;
//     padding-inline-end: 0%;
// }
.boton{
    padding: 25px;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}